# Telegram Bot
aiogram
aiofiles

# User Bot (Telethon)
telethon

# Database
psycopg2-binary
SQLAlchemy
alembic
asyncpg

# Solana
solders
solana
anchorpy

# Web3 & APIs
requests
aiohttp
httpx

# Charts & Graphics
matplotlib
pandas
numpy
seaborn

# Utils
python-dotenv
asyncio
Pillow

# Logging
loguru

# Date/Time
python-dateutil
pytz

# Validation
pydantic
base58